@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(google-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.container-left {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 49.8%;
    height: 600px;
    border-right: solid 1px darkgray;
}

.container-right {
	position: absolute;
	left: 50%;
	top: 0%;
    width: 49.8%;
    height: 600px;
    border-left: solid 1px darkgray;
}

.container-right div.leaflet-control-container div.leaflet-top.leaflet-left {
	background: transparent;
}


.leaflet-tile-pane {
    opacity: 0.60;
}

.leaflet-pane > svg {
    pointer-events: auto ;
}

.leaflet-pane > svg path, svg circle{
    pointer-events: auto ;
}

.leaflet-top.leaflet-left {
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    padding: 18px;
    width: 200px;
}

#load-slider {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa700, #ff3500) repeat scroll 0% 0%;   
}

#load-slider > .ui-slider-range {
    opacity: 0;  
}

.scene-map {
    fill: #ffffff;
    fill-opacity: 0.3;
    stroke: #6f6f6f;
    stroke-width: 1;
    stroke-opacity: 1;
}

.scene-stop {
    fill: #d2007e;
}

.scene-node, .scene-standing-particle {
    fill: rgba(105, 105, 105, 0.2);
    stroke: none;
    stroke-width: 5;
    stroke-opacity: 0.3;
}

.scene-flow-particle {
    fill: #fffe9f;
    stroke-width: 1;
    stroke-opacity: 0.55;
    stroke: none;
}

.scene-node-tooltip {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #888a85;
}

.scene-edge, .scene-edge-to, .scene-edge-from {
    opacity: 1;
    fill: none;
    fill-opacity: 0.1;
    stroke: none;
    stroke-width: 1.5px;
    stroke-linecap: round;
}

.time-slider-control {
	position: absolute;
	top: 610px;
	width: 1040px;
	height: 60px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: white;
	border-radius: 5px;
}

.time-slider {
    pointerEvents : auto;
    width : 90%;
    position: relative;
    left : 60px;
    top: 36px;
}

.timeline-bar {
    height: 2px;    
    width: 90%;
    left: 61px;
    top: 36px;
    background: #000;
    position: relative;
}

.time-slider-reset {
	cursor: default;
	font-size: 14px;
	color: black !important;
	position: absolute;
	left: 24px;	
	top: 30px;
}

.time-slider-play {
	cursor : default;
    font-size: 14px;
    color: black !important;
    position : absolute;
	left: 0px;
	top: 30px;
}

.time-slider-display {
    font-size: 16px;
    position: absolute;
    top: 6px;
    left: 6px;
}

.steps-bar {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    cursor: pointer;
    display: table;
    /* top: -27; */
}

.step {
    /* float: left;  */
    /* width: 1.996%; */
    /* margin-top: 29px; */
    text-align: center;
    position: relative;
    display: table-cell;
}

.step:last-child {
    width: 2px !important;
}

.step:first-child .step-border {
    height: 20px;
    width: 2px;
    background: #000;
    margin-top: -10px;
}

.step:nth-child(n+1) .step-border {
    height: 20px;
    width: 2px;
    background: #000;
    margin-top: -10px;
}

.step-mark {
    height: 20px;
    width: 2px;
    background: #000;
    margin-top: -10px;
}

.step-border {
    height: 10px;
    width: 2px;
    background: #999;
    margin-left: 1.5%;
    display: block;
}

.time-instant {
    position: absolute;
    top: -30px;
    left: -7px;
}