.container {
    width: 100%;
    height: 650px;
}

.leaflet-tile-pane {
    opacity: 0.60;
}

.leaflet-pane > svg {
    pointer-events: auto ;
}

.leaflet-pane > svg path, svg circle{
    pointer-events: auto ;
}

.leaflet-top.leaflet-left {
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    padding: 18px;
}

#load-slider {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffa700, #ff3500) repeat scroll 0% 0%;   
}

#load-slider > .ui-slider-range {
    opacity: 0;  
}

.scene-map {
    fill: #ffffff;
    fill-opacity: 0.3;
    stroke: #6f6f6f;
    stroke-width: 1;
    stroke-opacity: 1;
}

.scene-stop {
    fill: #d2007e;
}

.scene-node, .scene-standing-particle {
    fill: rgba(105, 105, 105, 0.2);
    stroke: none;
    stroke-width: 5;
    stroke-opacity: 0.3;
}

.scene-flow-particle {
    fill: #fffe9f;
    stroke-width: 1;
    stroke-opacity: 0.55;
    stroke: none;
}

.scene-node-tooltip {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #888a85;
}

.scene-edge, .scene-edge-to, .scene-edge-from {
    opacity: 1;
    fill: none;
    fill-opacity: 0.1;
    stroke: none;
    stroke-width: 1.5px;
    stroke-linecap: round;
}