@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(google-icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.container-left {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 49.8%;
    height: 100%;
    border-right: solid 1px darkgray;
}

.container-right {
	position: absolute;
	left: 50%;
	top: 0%;
    width: 49.8%;
    height: 100%;
    border-left: solid 1px darkgray;
}

.container-right div.leaflet-control-container div.leaflet-top.leaflet-left {
	background: transparent;
}


.leaflet-tile-pane {
    opacity: 1;
}

.leaflet-pane > svg {
    pointer-events: auto ;
}

.leaflet-pane > svg path, svg circle{
    pointer-events: auto ;
}

.leaflet-top.leaflet-left {
    background-color: white;
    border-radius: 5px;
    margin: 8px;
    padding: 18px 4px 18px 4px;
    width: 220px;
}

#load-slider > .ui-slider-range.ui-widget-header {  
    background: rgba(0, 0, 0, 0) linear-gradient(to right, 
        #84ca50 25%, #f07d02 25% 50%, #e60000 50% 75%, #9e1313 75%) 
        repeat scroll 0% 0%;
}

.scene-map {
    fill: transparent;
    stroke: gray;
    stroke-width: 1;
    stroke-opacity: 1;
}

.scene-map-mouseover {
	animation-name: map-splash;
	animation-duration: 0.5s;
	fill: transparent;
    stroke: #fcaf3e;
    stroke-width: 2;    
    cursor: default;
}

@keyframes map-splash {
	50% {
	   fill: yellow;
	   fill-opacity: 1;
	}
	100% {
	   fill: transparent;
	   fill-opactiy: 1;
	}
}

.scene-stop {
    fill: #d2007e;
}

.scene-node, .scene-standing-particle {
    fill: #d23b29;
    /*fill: none;*/
    fill-opacity: 0.75;
    stroke: none;
    stroke-width: 1;
    stroke-opacity: 0.8;
    cursor: default;
}

.scene-node:hover {
	stroke: #93281c;
}

.scene-flow-particle {
    fill: #fffe9f;
    stroke-width: 1;
    stroke-opacity: 0.55;
    stroke: none;
}

.scene-node-tooltip {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1px solid #888a85;
}

.scene-edge, .scene-edge-to, .scene-edge-from {
    opacity: 1;
    fill: none;
    fill-opacity: 0.1;
    stroke: none;
    stroke-width: 1px;
    stroke-linecap: round;
}

.time-slider-control {
	position: absolute;
	top: 610px;
	width: 1040px;
	height: 60px;
	margin-bottom: 10px;
	margin-left: 10px;
	background-color: white;
	border-radius: 5px;
}

.time-slider {
    pointerEvents : auto;
    width : 90%;
    height: 6px;
    position: relative;
    left : 60px;
    top: 39px;
}

.time-slider > .ui-slider-handle {
    width: 4px;
    height: 16px;
    margin-left: -1px;
    top: -6px;
    background-color: #2e3436;
    border: none;
}

.timeline-bar {
    height: 2px;    
    width: 90%;
    left: 61px;
    top: 40px;
    background: #000;
    position: relative;
}

.time-slider-reset {
	cursor: default;
	font-size: 14px;
	color: black !important;
	position: absolute;
	left: 24px;	
	top: 30px;
}

.time-slider-play {
	cursor : default;
    font-size: 14px;
    color: black !important;
    position : absolute;
	left: 0px;
	top: 30px;
}

.time-slider-display {
    font-size: 16px;
    position: absolute;
    top: 6px;
    left: 6px;
}

.steps-bar {
    position: absolute;
    left: 0;
    width: 100%;
    cursor: pointer;
    display: table;
}

.step {
    /* float: left;  */
    /* width: 1.996%; */
    /* margin-top: 29px; */
    text-align: center;
    position: relative;
    display: table-cell;
}

.step:last-child {
    width: 2px !important;
}

.step:first-child .step-border {
    height: 20px;
    width: 2px;
    background: #000;
    margin-top: -10px;
}

.step:nth-child(n+1) .step-border {
    height: 4px;
    width: 2px;
    background: #000;
    margin-top: -5px;
}

.step-mark {
    height: 20px;
    width: 2px;
    background: #000;
    margin-top: -10px;
}

.step-border {
    height: 10px;
    width: 2px;
    background: #999;
    margin-left: 1.5%;
    display: block;
}

.time-instant {
    position: absolute;
    top: -20px;
    left: -5px;
    font-size: 9pt;
}

.panel-section > rect {
	fill: gray;
	stroke: lightgray;
	stroke-width: 1;
	rx: 5px;
	ry: 5px;
	width: 200px;
	height: 225px;
	cursor: default;
}

.panel-section > text {
    font-size: 12pt;   
}

.pie-chart {
    stroke: darkgray;
    stroke-width: 1px;
    opacity: 1;    	
}

span.ui-checkboxradio-icon { 
	display: none; 
}

.controlset-flow .ui-button {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px 0px;
    color: white;
    width: 24%;
}

.controlset-flow .ui-button.ui-state-active {
    transform: translate(0, -3px);
}

.controlset-flow .ui-button.ui-state-active:hover {
	border: none;
}

.controlset-flow .ui-button .ui-flow-label {
	background: inherit;
	background-clip: inherit;
	background-clip: text;
	color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
}

.controlset-flow .ui-button:nth-child(2) {
    background-color: #84ca50;
}

.controlset-flow .ui-button:nth-child(4) {
    background-color: #f07d02;
}

.controlset-flow .ui-button:nth-child(6) {
    background-color: #e60000;
}

.controlset-flow .ui-button:nth-child(8) {
    background-color: #9e1313;
}

.controlset-flow .flow-bottom-bar {
	transform: translate(-100%, 20px);
	width: 95%;
    border: solid 1px;
    border-image: linear-gradient(to right, 
        #84ca50 25%, #f07d02 25% 50%, #e60000 50% 75%, #9e1313 75%);
    border-image-slice: 1;
}

.controlset-radio .ui-button {
	width: 10px;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	padding-left: 12px;
	padding-right: 12px;
}

.controlset-speed .ui-button {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3px;
    padding-right: 3px;
    width: 1.7em;
}

.controlset-zoom .ui-button {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 3px;
    padding-right: 3px;
}